*.o
*.a
*.so
*.so.*
*.d
*.exe
*.out
*~
*.swp
*.DS_Store
tags
stuff

src/channel_shm/fib
src/channel_shm/shift
src/channel_shm/throughput
src/channel_shm/utest
src/channel_mpi

src/test/*.tmp
src/test/*.ref

src/*.log
src/*.csv
src/barrier
src/bpc*
src/fib
src/fibgen
src/fib-like*
src/qsort*
src/cilksort*
src/nqueens*
src/spc*
src/mm*
src/nbody3*
src/uts
src/uts-seq*
src/uts-par*
src/lu*
src/loopsched
src/task_example
src/test_async

include/terra_async.h
include/terra_tasking_mod
include/terra_tasking_ext
src/terra_tasking_mod
src/terra_tasking_ext

benchmark*
