*.o
*.a
*.so
*.so.*
*.d
*.exe
*.out
*.log
*.csv
*~
*.swp
*.DS_Store
tags
stuff

build

src/bounded_stack_test
src/bounded_queue_test
src/channel_shm/build
src/channel_shm/channel
src/channel_shm/fib
src/channel_shm/shift
src/channel_shm/throughput
src/channel_mpi

test/*.tmp
test/*.ref
