*.o
*.a
*.so
*.so.*
*.d
*.exe
*.out
*~
*.swp
*.DS_Store

src/channel_shm/fib
src/channel_shm/shift
src/channel_shm/throughput
src/channel_shm/utest

src/barrier
src/bpc
src/fibgen
src/fib-like
src/looptest
src/qsort
src/spc
src/sum
src/mm
src/nbody3
src/uts
